.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.text {
  font-size: 1.125rem;
}

.conteudo {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.content-img img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.content-button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.content-button button {
  background: #ffffff;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 100%;
}

.contain-Explore,
.contain-order {
  width: 30%;
}

.conteudo button .text {
  margin: 0;
}

.trusted {
  margin-top: 4rem;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.locais {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.content-google,
.content-youtube {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  display: none;
}

@media screen and (max-width: 1200px) {
  .contain {
    margin-top: 15%;
  }

  .display {
    display: block !important;
  }

  .screen {
    display: none;
  }

  .conteudo {
    width: 100%;
    flex-direction: column;
  }
  .content-button {
    flex-direction: column;
  }
  .conteudo button {
    width: 100%;
  }
  .contain-Explore,
  .contain-order {
    width: 100%;
  }

  .trusted {
    width: 100%;
    margin-top: 0rem;
  }

  .trusted svg {
    width: 100%;
    height: 100%;
  }
}

