<div class="contain">
  <div class="conteudo">
    <div class="content-text">
      <h5>Label goes here</h5>
      <h1>Best burger in town</h1>
      <p class="text">
        Welcome to Burger Bliss, where we take your cravings to a whole new
        level! Our mouthwatering burgers are made from 100% beef and are served
        on freshly baked buns.
      </p>
      <button>
        <p class="text">Explore</p>
      </button>
    </div>
    <div class="content-img">
      <img
        class="img-fluid"
        src="https://flowbite.com/docs/images/examples/image-1@2x.jpg"
      />
    </div>
  </div>
</div>
