<nav class="navbar navbar-expand-lg bg-body-tertiary NavBarEdit">
  <div class="container-fluid marginPC">
    <div class="navbar-brand" href="#">
      <svg
        class="me-2"
        width="40"
        height="38"
        viewBox="0 0 40 38"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M40 15.7807C40 24.4962 31.0457 22.8821 20 22.8821C8.9543 22.8821 0 24.4962 0 15.7807C0 7.06528 8.9543 0 20 0C31.0457 0 40 7.06528 40 15.7807Z"
          fill="#CED7E4"
        />
        <rect x="2" y="26" width="36" height="12" rx="6" fill="#CED7E4" />
      </svg>

      <a href="" class="navbar-brand fold">BurgerBliss</a>
    </div>

    <button
      class="navbar-toggler buttonNav"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarOffcanvasLg"
      aria-controls="navbarOffcanvasLg"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="offcanvas offcanvas-end w-100"
      tabindex="-1"
      id="navbarOffcanvasLg"
      aria-labelledby="navbarOffcanvasLgLabel"
    >
      <div class="offcanvas-header">
        <svg
          class="me-3"
          width="40"
          height="38"
          viewBox="0 0 40 38"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M40 15.7807C40 24.4962 31.0457 22.8821 20 22.8821C8.9543 22.8821 0 24.4962 0 15.7807C0 7.06528 8.9543 0 20 0C31.0457 0 40 7.06528 40 15.7807Z"
            fill="#CED7E4"
          />
          <rect x="2" y="26" width="36" height="12" rx="6" fill="#CED7E4" />
        </svg>
        <h5 class="offcanvas-title" id="navbarOffcanvasLgLabel">BurgerBliss</h5>

        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <li class="nav-item mx-md-3">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item mx-md-3">
            <a class="nav-link" href="#">Burgers</a>
          </li>
          <li class="nav-item mx-md-3">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item buttonOrder">
            <a class="nav-link" href="#">Order Now</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
