.marginPC {
  margin: 0 90px;
}
.NavBarEdit {
  background-color: white !important;
  border-bottom: solid 1px rgb(73, 73, 73);
}
.buttonNav {
  box-shadow: none;
  border: none;
}

.buttonOrder {
  background-color: #486284;
  border: solid 5px #486284;
  border-radius: 50px;
  width: 125px;
  text-align: center;
}
.buttonOrder a {
  color: white;
}

@media screen and (max-width: 992px) {
  .marginPC {
    margin: 0 24px;
  }
  ul li {
    margin-top: 30px;
  }
  .buttonOrder {
    width: 100%;
  }
}

